.about__titleW {
}
.about__title {
    text-align: end;
}

.about__content {
    display: flex;
    justify-content: space-between;
    margin: calc((35px / 1310px) * 100%) 0px 0px 0px;
    flex-wrap: wrap;
}
.about__listW {
}
.about__listDescW {
}
.list__listDesc {
}

.about__list {
    margin-top: 21px;
}
.about__listItem {
    display: flex;
    align-items: center;
    margin: 0px 0px 25px 0px;
}
.about_listNumberW {
    display: flex;
    background: #fb9bf1;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    margin: 0px 60px 0px 0px;
}
.about_listNumber {
}
.about__materials {
    max-width: 645px;
}
@media (max-width: 936px) {
    .about__materials {
        margin: 0 auto;
    }
}
.materials {
}
.materials__descW {
    display: flex;
    justify-content: end;
}
.materials__desc {
    max-width: 540px;
    text-align: end;
}
.materials__subtitleW {
}
.materials__subtitle {
    margin-top: 75px;
    text-align: center;
}
.materials__icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 645px;
    column-gap: 148px;
    margin: calc((25px/645px)*100%) auto 0px;
}
.materials__icon {
    margin: 0px 0px 25px 0px;
}
.materials__imgW {
}
.materials__img {
}
.materials__textW {
    display: flex;
    justify-content: center;
}
.materials__text {
    margin: calc((20px/645px)*100%) 0px 0px 0px;
}

.aboutBtnW {
    margin: calc((74px/1310px)*100%) auto 0px;
}

.aboutBtn {
}
