.header {
    background-color: #FB9BF1;
}
.header__container {
}
.header__body {
    display: flex;
    align-items: center;
}

.header__logoW {
    flex: 1;
    max-width: 220px;
}
.header__logo {
    padding: 22px 0;
}
/* ------------------------------------- */