.header_buttonW {
    display: flex;
    flex: 1 1 50px;
    max-width: 210px;
    justify-content: center;
}
.header_button {
    width: 100%;
    display: inline-block;
    background-color: white;
    border-radius: 45px;
    color: #e21bce;
    padding: 20px 20px;
    text-align: center;
    transition: all 0.3s ease 0s;
}
.header_button:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
}
.header_button:active {
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.4);
}
.hBtn {
    display: flex;
    justify-content: center;
    margin: 0 -6px;
}
.hSpan {
    padding: 0 6px;
}
.header_button_icon {
    padding: 0 6px;
}
/* ------------------------------- */
