.header_buttonW {
    display: flex;
    flex: 1;
    max-width: 210px;
    justify-content: center;
}
.header_button {
    width: 100%;
    display: inline-block;
    background-color: white;
    border-radius: 45px;
    color: #E21BCE;
    padding: 20px 0px;
    text-align: center;
}
/* ------------------------------- */
