.header__menuW {
    flex: 1 1 350px;
    max-width: 880px;
}
.header__menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px 10px;
}
@media (max-width: 390px) {
    .header__menu {
        flex-direction: column;
    }
}
.header__menuItem:not(:last-child) {
    margin-right: 40px;
}
@media (max-width: 850px) {
    .header__menuItem:not(:last-child) {
        margin-right: 20px;
    }
}
@media (max-width: 390px) {
    .header__menuItem:not(:last-child) {
        margin-right: 5px;
    }
}

.header__menuLink {
    font-size: 18px;
    line-height: 20px;
    color: #000000;
}

.header__menuLink:hover {
    color: #e21bce;
}
/* ---------------------------- */
