.header_buttonW {
    display: flex;
    flex: 0 1 210px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.header_button {
    width: 100%;
    display: inline;
    background-color: white;
    border-radius: 45px;
    color: #E21BCE;
    padding: 20px 0px;
    text-align: center;
}
/* ------------------------------- */
