.header {
    background-color: #FB9BF1;
}
.header__container {
}
.header__body {
    display: flex;
    align-items: center;
    min-height: 145px;
}
@media (max-width: 380px){
    .header__body {
        flex-wrap: wrap;
        justify-content: center;
    }
    .header__logoW {
        display: flex;
        justify-content: center;
    }
}

.header__logoW {
    flex: 1 1 0px;
    max-width: 220px;
}
.header__logo {
    padding: 22px 0;
}
/* ------------------------------------- */