@import "fonts.scss";

/* ----------------reset css--------------------- */
/* * {
    outline: 1px solid tomato;
} */

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
    /*     max-width: 100%;
    height: auto; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

html,
body {
    height: 100%;
    font-family: "Franklin Gothic Book";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: #000000;
}
/* -----------------reset css------------------- */
/* --------------------------------------------- */
.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
._container {
    max-width: 1310px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: content-box;
}
/* --------------------------------------------- */
@import "header_sec.scss";
@import "header_menu.scss";
@import "header_button.scss";
@import "skyj.scss";
@import "skyj_image.scss";
@import "skyj_buttonPink.scss";
@import "skyj_buttonWhite.scss";
@import "about.scss";
@import "market.scss";
