.market {
}
.market__container {
}

.market__body {
}
/* ------------------- */
.market__titleW {
}
.market__title {
    margin: 121px 0px 0px 0px;
}
/* ------------------ */
.market__collection {
}
.collection {
}
.collection_titleW {
}
.collection_title {
    margin: 35px 0px 25px 0px;
}
.collection__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 202px;
    margin: -30px 0px;
}
.collection__item {
    padding: 30px 0px;
    margin: 0 auto;
}
.collection__imageW {
}
.collection__image {
}
.collection__arrowtext {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 0px 0px 0px;
}
.collection__textW {
}
.collection__text {
}
.collection__arrowW {
}
.collection__arrow {
}
/* ---------------------------------- */
.market__popular {

}
.popular {
}
.popular__titleW {
    max-width: 1090px;
    margin: 0 auto;
}
.popular__title {

    margin: 39px 0px 0px 0px;
}
/* ------------------------------ */
.popular__cards {
    display: flex;
}
.popular__card {
    margin: 35px 0px 0px 0px;
}
.card {
}
.card__imagePriceText {
}
.card__imageW {
    position: relative;
    max-width: 210px;
    margin: 0 auto;
}
.card__image {
}
.card__pinkTextW {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 72px;
    height: 34px;
    background: #fb9bf1;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card__pinkText {
    font-size: 12px;
    line-height: 14px;
}
/* ------------------------------- */
.card__textArrow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px auto 0px;
    max-width: 210px;
}
.card__textW {
}
.card__text {
}
.card__arrowW {
}
.card__arrow {
}
/* --------------------------- */
.checked {
    color: #ffd542;
}
.color-yellow {
    color: #ffd542;
}
.fa {
    font-size: 20px !important;
}
.card__starsValue {
    max-width: 210px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px auto 0px;
}
.cardStars {
}
.fa {
}
.fa-star {
}

.fa-star-half-full {
}
.card__valueW {
}
.card__value {
    font-size: 32px;
    line-height: 36px;
}
.card__descW {
}
.card__desc {
    max-width: 210px;
    margin: 15px auto 0px;
}

.slick-slider {
    display: flex !important;
}

.prev {
    background-color: #fff;
}
