.market {
}
.market__container {
}

.market__body {
}
/* ------------------- */
.market__titleW {
}
.market__title {
    margin: 121px 0px 0px 0px;
}
/* ------------------ */
.market__collection {
}
.collection {
}
.collection_titleW {
}
.collection_title {
    margin: 35px 0px 25px 0px;
}
.collection__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 202px;
    margin: -30px 0px;
}
.collection__item {
    padding: 30px 0px;
    margin: 0 auto;
}
.collection__imageW {
}
.collection__image {
}
.collection__arrowtext {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 0px 0px 0px;
}
.collection__textW {
}
.collection__text {
}
.collection__arrowW {
}
.collection__arrow {
}
/* ---------------------------------- */
.market_popular {
}
.popular {
}
.popular__titleW {
}
.popular__title {
}
/* ------------------------------ */
.popular_cards {
}
.popular_card {
}
.card {
}
.card_imagePriceText {
}
.card_imageW {
}
.card_image {
}
.card_priceText {

}
.card_price {

}
.card_text {
}
