.modal-window {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.25);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;

    &:target {
        visibility: visible;
        opacity: 1;
        pointer-events: auto;
    }
    & > div {
        width: 400px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 20px;
        background: white;
    }
    header {
        font-weight: bold;
    }
    h1 {
        font-size: 150%;
        margin: 0 0 15px;
    }
}

.modal-close {
    color: #aaa;
    font-size: 80%;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 70px;
    text-decoration: none;
    &:hover {
        color: black;
    }
}

.container {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.modal-window {
    & > div {
        border-radius: 1rem;
    }
}

.modal-window div:not(:last-of-type) {
    margin-bottom: 15px;
}

.logo {
    max-width: 150px;
    display: block;
}

small {
    color: lightgray;
}

.btn {
    background-color: white;
    padding: 1em 1.5em;
    border-radius: 0.5rem;
    text-decoration: none;
    i {
        padding-right: 0.3em;
    }
}

/* ---------------------------- */
.modal-window {
}
.modal__container {
    max-width: 334px;
    border: 1px dashed #9747ff;
    border-radius: 5px;
}
.modal-close {
}
.form {
}
.contactForm {
    display: flex;
    flex-direction: column;
    /* Цвет основной */
}

.contactForm > label {
    margin: 10px;
}
.contactForm > input {
    margin: 0px 10px;
    padding: 18px;
}
.contactForm > input:focus {
    outline: none;
    border: 2px solid #e21bce;
}
.contactForm__name {
}
.contactForm__phone {
}
.contactForm__email {
}
.header_buttonW {
    margin: 0 auto;
    width: 100%;
}
.header_button {
}
.mBtn {
    /* Цвет фон, текст, иконки */
    background: #ffffff;
    /* Темный серый */
    border: 1px solid #aeaeae;
    border-radius: 45px;
    max-width: 210px;
    margin: 10px 0px;
}
.mSpan {
    color: black;
}

.mForm_border {
    border: 1px solid #e21bce;
    border-radius: 10px;
}
