.review {
}
.review__container {
}
.review__body {
}
.review__titleW {
}
.review__title {
    margin: calc((95px/1310px)*100%) 0px 0px 0px;
}

.review__listW {
}
.review__list {
    max-width: 1069px;
    margin: calc((132px/1310px)*100%) auto 0px;
    display: flex;
    justify-content: center;
    column-gap: 87px;
    flex-wrap: wrap;
}
.review__card {
    max-width: 202px;
    margin: 10px 0px;
}
.review__imageName {
    display: flex;
    column-gap: 10px;
}
.review__image {
}
.review__name {
}
.review__starsValue {
    margin: 10px 0px 0px 0px;
    display: flex;
    max-width: 191px;
    justify-content: space-between;
    align-items: center;
}
.review__stars {
}

.review__value {
    font-size: 32px;
    line-height: 36px;
}
.review__desc {
    margin: 10px 0px 0px 0px;
}
