
/* ----------------------------- */
.skyj__imageW {
    position: relative;
    flex: 1 1 0px;
    max-width: 740px;
    display: flex;
    height: 100%;
}

/* @media (max-width:992px){
    .skyj__imageW {
        opacity: 0.5;
    }
} */
.skyj__image {
    width: 100%;
    height: auto;
}

/* -------------------------------- */
