.skyj {
}
.skyj__container.skyj__imageW {
    max-width: 1500px;
}
.skyj__body {
    display: flex;
    flex-direction: row;
}
@media (max-width: 720px) {
    .skyj__body {
        flex-direction: column;
    }
}
/* ----------------------- */
.skyj__text {
    flex: 1 1 0px;
    max-width: 626px;
    display: flex;
    flex-direction: column;
    margin: 171px 25px 0px 0px;
    
}
@media (max-width: 767px) {
    .skyj__text {
        margin: 80px 25px 0px 0px;
    }
}
.skyj__titleW {
}
.skyj__title {
    
}
.bold {
    font-family: "Impact";
    font-weight: 400;
    font-size: 64px;
    line-height: 78px;
}

.semibold {
    font-size: 32px;
    line-height: 36px;
}
.skyj__subtitleW {
}
.skyj__subtitle {
    margin: 35px 0px 0px 0px;
}
.skyj__contentW {
}
.skyj__content {
    margin: 35px 0px 0px 0px;
}
.skyj__btns {
    display: flex;
    margin: 96px -12px 0;
}
/* ----------------------- */
