.btnPinkW{
    padding: 0 12px;
}

.btnPink{
    background-color: #E21BCE;
    color: white;
}
.btnPink:hover {
    background: #FB9BF1;
    box-shadow: none;
}
.btnPink:active {
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.4);
}
