
/* ----------------------------- */
.skyj__imageW {
    position: relative;
    flex: 1 1 0px;
    max-width: 740px;
    display: flex;
    height: 100%;
}

/* @media (max-width:992px){
    .skyj__imageW {
        opacity: 0.5;
    }
} */
.skyj__image {
    position: relative;
    top: -130px;
    left: -340px;
    width: 200%;
    height: auto;
    margin-left: auto;
    z-index: -1;
}

@media (max-width: 1280px) {
    .skyj__image {
        top: -90px;
        left: -330px;
        
    }
}
@media (max-width: 1212px) {
    .skyj__image {
        top: -80px;
        left: -310px;
        
    }
}
@media (max-width: 1165px) {
    .skyj__image {
        left: -260px;
        
    }
}

@media (max-width:1092px){
    .skyj__image {
        left: -230px;
        
    }
}
@media (max-width:999px){
    .skyj__image {
        left: -200px;
        
    }
}
@media (max-width: 990px) {
    .skyj__image {
        left: -200px;
        width: 180%;
    }
}
@media (max-width: 832px) {
    .skyj__image {
        left: -200px;
        width: 160%;
        
    }
}
@media (max-width: 732px) {
    .skyj__image {
        left: -160px;
        width: 150%;
    }
}


/* -------------------------------- */
