.staff {
}
.staff__container {
}
.staff__body {
}
.staff__titleW {
}
.staff__title {
    margin: 193px 0px 0px 0px;
    text-align: end;
}
.staff__listW {
}
.staff__list {
    margin: 87px auto 0px;
    max-width: 1043px;
    display: flex;
    justify-content: center;
    column-gap: 172px;
    flex-wrap: wrap;
}
.staff__card {
    max-width: 239px;
    margin: 10px 0px;
}
.staff__faceName {
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.staff__face {
}
.staff__name {
    max-width: 100px;
}
.staff__textArrow {
    display: flex;
    max-width: 129px;
    justify-content: space-between;
    align-items: center;
    margin: 17px 0px 0px 0px;
}
.staff__text {

}
.staff__arrow {
}
.staff_descW {
}
.staff_desc {
    margin: 17px 0px 0px 0px;
}
